---
// @ts-nocheck
import { STAGES as stages } from "../../const/common/stages.js";
import { HOURS as hours } from "../../const/common/hours.js";
import Stage from "../Stage/Stage.astro";
import Time from "../Time/Time.astro";
import Card from "../Card/Card.astro";
import S from "./Schedule.module.css";

const { day, data } = Astro.props;
---

<main class={`${S.schedule} ${S[day]}`}>
  {stages.map((stage) => <Stage stage={stage} />)}
  <Time modifier="-head" value="Stages" />
  {hours.map((hour, i) => <Time modifier={`-t${i + 1}`} value={hour} />)}
  {
    data.map(({ index, slug, band, genre, stage, start, end, video }) => (
      <Card
        index={index}
        slug={slug}
        day={day}
        band={band}
        genre={genre}
        stage={stage}
        start={start}
        end={end}
        video={video}
        modifier={S[`-g-${index}`]}
      />
    ))
  }
</main>

