---
import S from "./Users.module.css";
import { USERS } from "../../const/users.js";
import Image from "../Image/Image.astro";
const basePath = '';
---

<section id="usuarios-container" class={S.users}>
  {USERS.map((usuario) => (
    <figure>
      <Image src={`${basePath}/fotos/${usuario.nombre}.jpg`} alt={usuario.nombre} id={usuario.nombre} class="user-avatar" />
    </figure>
  ))}
</section>

<script type="module">
  // Delegación de eventos para los clicks en los avatares
  document.getElementById("usuarios-container").addEventListener("click", (e) => {
    const img = e.target.closest("img.user-avatar");
    if (img) {
      localStorage.setItem("user", img.id);
      window.location.replace(`${basePath}/wednesday`);
    }
  });
</script>
