---
import S from "./Header.module.css";
import Menu from "../Menu/Menu.astro";
import Image from "../Image/Image.astro";
const { day, hideUserAvatar } = Astro.props;
const hiddenClass = hideUserAvatar ? "-hidden" : "";
const basePath = document.documentElement.dataset.base || '';
---

<header class={S.header}>
  <Image class={S._image} src={`${basePath}/img/logo.png`} alt="Logo" />
  <span class=`_avatar ${hiddenClass}`>
    <user-avatar></user-avatar>
  </span>
  <Menu day={day} />
</header>

<script>
  const basePath = document.documentElement.dataset.base || '';
  if (!customElements.get("user-avatar")) {
    class UserAvatar extends HTMLElement {
      connectedCallback() {
        const user = localStorage.getItem("user");
        if (user) {
          this.innerHTML = `<img class="_user" width="120" height="120" alt="${user}" src="${basePath}/fotos/${user}.jpg" />`;
        } else {
          this.innerHTML = "";
        }
      }
    }
    customElements.define("user-avatar", UserAvatar);
  }
</script>
